body {
  display: flex;
  flex-direction: column;
  background-color: #f5e8dc;

}

.sobre {
  background-color: #e6ccbb;
  margin: auto;
  padding: 30px;
  width: 60%;
  height: 60%;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  text-align: justify;
  
  h2 {
    text-align: center;
    color: #7c4b2b;
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 15px;
    font-size: 1.2rem;
    line-height: 1.6;
  }
}

.MarcaDAgua {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4%;
  background-color: #EFE5DF;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0px -1vh 2vh #0000003f;
  

  h1 {
    color: #6735004b;
    margin: 0.8rem;
    font-family: 'Parisienne', cursive;
    rotate: -10deg;
  }
}

